.App {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.React-logo {
  color: #81cdbc;
  height: 35px;
  pointer-events: none;
  animation: React-logo-spin infinite 25s linear;
}

@media (prefers-reduced-motion: no-preference) {
  .React-logo {
    animation: React-logo-spin infinite 25s linear;
  }
}

@keyframes React-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  padding: 10px 100px;
  font-size: calc(10px + 0.5vmin);
  /* border: 2px dotted grey; */
  width: 100%;
  display: flex;
  padding-top: 20px;
  align-items: center;
  justify-content: center;
}

.mobile-header {
  padding-top: 10px;
  font-size: calc(10px + 1vmin);
  border: 2px dotted grey;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .header {
    display: none;
  }
  .mobile-header {
    display: flex;
  }
}

.header-link {
  text-shadow: 0 -1px 0 black;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 18px;
  cursor: pointer;
  transition: transform 0.08s ease-in;
  text-transform: uppercase;
}

.header-link:active {
  transform: scale(0.9);
}

.header-link-default {
  z-index: 1;
  position: relative;
  margin: 0 auto;
}

.header-link-default:hover::after {
  z-index: -1;
  content: "";
  position: absolute;
  opacity: 1;
  transform: scaleX(1);
  transform-origin: left;
}

.header-link-default::after {
  border-radius: 1px;
  position: absolute;
  width: 50%;
  left: 0;
  left: 25%;
  height: 2px;
  bottom: -5px;
  z-index: -1;
  content: "";
  background: linear-gradient(#333, grey);
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.1),
    inset 0 -1px 2px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
  transform: scaleX(0);
  opacity: 0;
  transform-origin: center;
  transition: transform 0.18s ease-in, opacity 0.18s ease-in;
}

.header-link-active {
  z-index: 1;
  position: relative;
  opacity: 1;
}

.header-link-active::after {
  border-radius: 1px;
  content: "";
  position: absolute;
  width: 50%;
  height: 2px;
  left: 25%;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(#68ab9c, #81cdbc);
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.1),
    inset 0 -1px 2px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
  transform-origin: top;
  transform: scaleX(1);
  opacity: 1;
  transition: transform 0.18s ease-in, opacity 0.18s ease-in;
}

.iconLink {
  padding: 0 20px;
  font-size: 52px;
  /* display: flex; */
}

#erikLarsson {
  position: relative;
  /* line-height: 35px; */
  font-size: 20px;
  cursor: pointer;
  /* box-shadow: -0.5px 0 0 rgba(255, 255, 255, 0.8); */
  border-left: 1px solid rgba(255, 255, 255, 0.8);
  padding-left: 20px;
  margin-left: 20px;
}

.robotic {
  /* font-family: "Roboto Mono", monospace; */
  font-size: 10px;
  letter-spacing: 1px;
  opacity: 0.4;
  text-transform: uppercase;
  color: white;
}

.iconLinks {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconLinks > div {
  display: flex;
  margin: 2px;
  opacity: 0.7;
  padding: 5px 10px;
  transition: all 0.2s;
}

.iconLinks > div:hover {
  opacity: 1;
  cursor: pointer;
}

.purpleGradient {
  background: linear-gradient(
    160deg,
    #e519bb,
    #cd1eb8,
    #b522b3,
    #9c25ae,
    #8426a7,
    #7423a0,
    #632198,
    #531e90,
    #461887,
    #39137f,
    #2b0d76,
    #1b086e
  );
}

.gradientTextSilver {
  background: -webkit-linear-gradient(
    rgb(238, 246, 255),
    white,
    rgb(233, 241, 250),
    rgb(189, 209, 233)
  );
  background: linear-gradient(
    rgb(238, 246, 255),
    white,
    rgb(233, 241, 250),
    rgb(189, 209, 233)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 10;
}
.gradientTextPurple {
  background: -webkit-linear-gradient(
    160deg,
    rgba(239, 0, 215, 1),
    rgba(72, 0, 236, 1)
  );
  background: linear-gradient(
    160deg,
    rgba(239, 0, 215, 1),
    rgba(72, 0, 236, 1)
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 10;
}

.selectedProjectsFooter {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 25px;
}

.selectedProjectsFooter > div {
  display: flex;
  align-items: center;
}

.selectedProjectsFooter .dot {
  cursor: pointer;
  margin: 0 5px;
  display: flex;
  padding: 5px;
  align-items: center;
  justify-content: center;
  border-radius: 14px;
}

.dot > div {
  background: linear-gradient(white, silver);
  opacity: 0.2;
  height: 12px;
  width: 12px;
  border-radius: 6px;
  transition: all 0.2s;
}

.active > div {
  opacity: 1;
  transform: scale(1.1);
}

.active {
  opacity: 1;
}

.projects > h2 {
  width: 100%;
  text-align: left;
  margin: 50px 0 0 150px;
}

.projects > .topLayer {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 0 30px;
  z-index: 10;
}

.projects > .topLayer > .arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  font-size: 30px;
  background: linear-gradient(rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0.2));
  box-shadow: inset 0 1px 2px grey, 0 5px 5px -2px black;
  cursor: pointer;
  transition: all 0.05s;
}

.projects > .topLayer > .arrow:active {
  transform: scale(0.9);
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* height: 50vh; */
  background: linear-gradient(
    30deg,
    rgba(43, 46, 51, 0.3),
    rgb(43, 46, 51, 0.8),
    rgba(43, 46, 51, 0.3)
  );
  box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.1), 0 10px 10px -3px black;
  border-radius: 3px;
}

.scrollableWrapper {
  width: 80vw;
  height: 100%;
  overflow-x: auto;
  white-space: nowrap;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollableWrapper::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

.project {
  opacity: 0;
  width: 80vw;
  max-width: 80vw;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  transition: all 1s;
  pointer-events: none;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.projectActive {
  opacity: 1;
}

.projectActive .projectDescription {
}

.project > div {
  display: flex;
  padding: 0 5vw;
}

.project > div > img {
  /* height: 500px; */
  height: 35vw;
  padding: 5vw;
  width: 35vw;
  object-fit: cover;
}

.projectDescription {
  padding: 30px 5vw;
  flex: 1;
}

.projectDescription *,
#what {
  margin: 4px 0;
  max-width: 40vw;
  /* overflow-wrap: break-word !important; */
  /* word-wrap: break-word !important; */
  /* word-break: break-all; */
  white-space: normal;
  /* hyphens: auto; */
}

.timeline {
  min-height: 50vh;
}

.timeline header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px dotted green; */
}

.timeline header .line {
  position: absolute;
  height: 2px;
  background: linear-gradient(
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.15)
  );
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.2);
  z-index: -1;
  width: 90vw;
}

.timeline header div {
  display: flex;
  justify-content: center;
  padding: 10px;
  /* border-radius: 50px; */
  margin: 0 50px;
  /* box-shadow: inset 0 0 0 3px white; */
  align-items: center;
  transition: all 0.1s;
  cursor: pointer;
  background: linear-gradient(
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.15)
  );
  background: #333;
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.3), 0 5px 5px -2px black;
}

.timeline header div:hover {
  transform: scale(1.05);
}

.timeline header div:active {
  transform: scale(1);
}

@keyframes fuckWit {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-45deg);
  }
  100% {
    transform: translateY(0);
  }
}

.timeline header .selected {
  /* transform: scale(1.05); */
  -webkit-animation: fuckWit 1s; /* Safari 4+ */
  -moz-animation: fuckWit 1s; /* Fx 5+ */
  -o-animation: fuckWit 1s; /* Opera 12+ */
  animation: fuckWit 1s; /* IE 10+, Fx 29+ */
  background: linear-gradient(
    160deg,
    #e519bb,
    #cd1eb8,
    #b522b3,
    #9c25ae,
    #8426a7,
    #7423a0,
    #632198,
    #531e90,
    #461887,
    #39137f,
    #2b0d76,
    #1b086e
  );
}

.timeline header img {
  height: 50px;
  width: 50px;
  border-radius: 25px;
}

.timeline > div {
  /* border: 1px dotted pink; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
}

.experienceText {
  display: inline-block;
  /* margin: 0 auto; */
}

.experienceText p {
  /* font-size: 24px; */
}

.about ul {
  padding: 10px;
}
.about li {
  display: flex;
  align-items: center;
  margin: 10px;
}

.about li div {
  padding: 5px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: #191a1b;
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.2), 0 5px 5px -2px black;
}

.about li,
.about p:nth-of-type(2) {
  font-size: 14px;
}

.about li > div {
  margin-right: 20px;
  display: flex;
  align-items: center;
  font-size: 30px;
}

.contact a {
  padding: 5px;
  /* display: flex; */
  margin: 40px 0;
  border-radius: 25px;
  box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.2), 0 5px 5px -3px black;
}

/* in about */
#iconLinks {
  position: absolute;
  align-self: flex-start;
}

#iconLinks > div {
  font-size: 40px;
}

.experienceGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.exp {
  margin: 10px;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  box-shadow: inset 0 0 1px grey;
}

.exp > img {
  margin-right: 30px;
}
