body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-family: "Helvetica Neue";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #282c34;
  background: #191a1b;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  font-weight: 500;
}

html * {
  font-family: "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: 50px;
  margin: 0 0 50px;
  line-height: 50px;
}

h4 {
  margin: 0;
}

p {
  font-size: 12px;
  margin: 0;
}

.textContent {
  max-width: 500px;
  text-align: left;
  /* border: 1px solid grey; */
}
